.sidebar {
    position: fixed;
    width: 100%;
    height: 10%;
    /* background-image: url("aedcca77-ccf1-4e80-80e9-6efc13a35c90.png"); */
    background-color: rgba(148, 46, 141, 0.27);
    margin: 0px;
    padding: 0px;   
    top: 0;
    bottom: 0;
  }
  
  .sidebar button{
    text-align: center;
    float: left;
    width: 10%;
    padding: 0.7rem;
    margin: 0.5rem;
    /* border: 0.1rem solid; */
    border-radius: 5px;
    border-color: rgba(165, 42, 42, 0);
    overflow: hidden;
    background-color: rgba(26, 217, 157, 0.607);
    color: black;
    /* margin: 1rem; */
  }
  
  .sidebar button:hover {
    background-color: rgb(161, 207, 114);  
  }